<div class="comment row">
  <div class="row">
    <div class="col-xs-2">
      <div>
        <%#= [todo] edit/remove/report/etc. %>
      </div>
      
      Added by: <strong><%= comment.user %></strong>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-justify">
      <%= comment.comment %>
    </div>
  </div>
</div>
