<%= form_for comment, url: post_comments_path(comment.commentable_id), method: 'post', :html => {class: 'form-inline'} do |f| %>
  <div class="form-group">
    <%= f.text_field :comment, class: 'form-control', :placeholder => 'comment (min 5 chars)' %>
    <%= f.submit 'wyslij', class: 'btn btn-default' %>
  </div>
<% end %>
