<%= form_for(@post, :html => { class: 'form-inline' }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <div class="form-group">

      <div class="field memefield">
        <%= f.label :meme %><br>
        <%= f.file_field :meme, class: 'btn btn-default btn-file' %>
      </div>
      <%= f.fields_for :video do |v| %>
        <div class="field videofield">
          <%= v.label "Video link" %><br>
          <%= v.text_field :link, class: 'form-control' %>
        </div>
      <% end %>
      <div class="field clearboth">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit 'Wyślij', class: 'btn btn-default' %>
      </div>
    </div>

<% end %>
