<div class="row">
<div class="col-md-2"> </div>
<div class="text-center col-md-8 post">
  <div class="row">
    <div class="col-md-4">
      <%= render 'voting', post: post %>
    </div>
    <div class="col-md-8 text-right">
      <h3><%= link_to post.title, post %></h3>
      Added by user: <b> <%= post.user %></b> |
      <%= link_to pluralize(post.comments.count, 'comment'), post %>
      <% if current_user %>
        <% if @am_i_even_allowed or post.user == current_user or current_user.admin? or current_user.moderator? %>
            | <%= link_to 'destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
    </div>
    <% if post.video.nil? %>
      <%= link_to image_tag(post.meme.url), post %>
    <% else %>
      <%= post.video.link_html %>
    <% end %>
  </div>
</div>
<div class="col-md-2"> </div>
</div>
