<div class="row">
<div class="col-md-12 text-left voting"> 
  <% if current_user %>
    <div class="arrows">
      <%= link_to image_tag('arrow-up.png'), like_post_path(post), remote: true, method: :put %>
      <%= link_to image_tag('arrow-down.png'), dislike_post_path(post), remote: true, method: :put %>
    </div>
  <% end %>
  <div class="votes" id="post<%= post.id %>">
    <span class="votes_count"><%= (post.get_upvotes.size - post.get_downvotes.size).to_s %></span>
  </div>
</div>
</div>
