
<div class="row">
  <div class="col-md-12 text-center">
    <%= link_to 'Back', posts_path %>
    <h1>Add New Post</h1>
  </div>
</div>

<div class="col-md-3"></div>
<div class="col-md-6">
  <%= render 'form' %>
</div>
<div class="col-md-3"></div>
