<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
  <h3>I believe you dont have any posts posted yet. Wanna try <%= link_to 'adding one?', new_post_path %> </h3>

</div>
<div class="col-md-2"></div>
</div>
