<%= render @post %>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <%= render partial: 'comments/comment', collection: @post.comments %>
    <%= render 'comments/form', comment: @post.comments.new if @current_user %>
  </div>
  <div class="col-md-2"></div>
</div>
