// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  background-color: #DDD;
  margin: 10px;
  padding: 3px;
  border: 1px #FFF dashed;

  .title {
    font-size: 20px;
  }
}
.post {
  background-color: #DDD;
  border: 1px #CCC dashed;
  margin: 5px;
  padding-bottom: 10px;
  .voting {
    margin-top: 10px;
    display: table;
    .votes {
      display: table-cell;
      vertical-align: middle;
      font-size: 1.6em;
      .votes_count {
        margin-left: 10px;
      }
    }
    .arrows {
      /* border radius */
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border: 1px #aaa solid;
      width: 66px;

      background-color: #CCC;
      display: table-cell;
      padding: 5px 0px 5px 0px;
      img {
        float: left;
      }
    }
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.field.memefield {
  float:left;
}
.field.videofield {
  float:right;
  text-align: right;
}
.field.clearboth {
  clear: both;
}
